// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// global styles
main{
  min-height: 100vh;
}
// end of global styles

// start of footer
footer{
  height: 40px;
  width: 100%;
  background-color: #dfdfdf;
}
@media(min-width: 768px){
  footer{
    height: 60px;
  }
}
// end of footer

// start of home
.home-header-photo{
  width: 100%;
  height: 195px;
  background-color: #818181;
  z-index: 1;
}
.home-header-bounded{
  min-width: 320px;
  width: 60%;
  height: 80px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #e4e4e4;
  z-index: 2;
  transform: translateY(-50%);
  border-top-right-radius: 40px;
}
@media(min-width: 768px){
  .home-header-photo{
    height: 470px;
  }
  .home-header-bounded{
    width: 768px;
    height: 200px;
    border-top-right-radius: 110px;
  }
}

@media(min-width: 1280px){
  .home-header-photo{
    height: 590px;
  }
  .home-header-bounded{
    width: 60%;
    border-top-right-radius: 100px;
  }
}
// end of home